@font-face{
    font-family: bold;
    src: url(Gotham-Bold.otf);
}

@font-face{
    font-family: regular;
    src: url(GothamMedium.ttf);
}

@font-face{
    font-family: italic;
    src: url(Gotham.ttf);
}

@font-face{
    font-family: papyrus;
    src:url(PAPYRUS.TTF)
}

@font-face{
    font-family: italic;
    src:url(GothamBoldItalic.ttf)
}

@font-face{
    font-family: light;
    src:url(GothamLight.ttf)
}

@font-face{
    font-family: thin;
    src:url(GothamBook.ttf)
}



